name: Daily Valuation Report

on:
  #schedule:
    #- cron: '0 2 * * *'  # Runs daily at 7:30 AM IST (2:00 AM UTC)
  workflow_dispatch:     # Allows manual trigger

jobs:
  run-report:
    runs-on: ubuntu-latest
    env:
      GMAIL_USER: ${{ secrets.GMAIL_USER }}
      GMAIL_PASS: ${{ secrets.GMAIL_PASS }}
    #   TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
    #   TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
      ALPHA_VANTAGE_API_KEY: ${{ secrets.ALPHA_VANTAGE_API_KEY }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run valuation script
        run: python main.py
